## Preprocessing

In [4]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [5]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=["EIN"])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [6]:
name_counts = application_df["NAME"].value_counts()
name_counts[name_counts > 5]

NAME
PARENT BOOSTER USA INC                             1260
TOPS CLUB INC                                       765
UNITED STATES BOWLING CONGRESS INC                  700
WASHINGTON STATE UNIVERSITY                         492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC     408
                                                   ...
OLD OAK CLIFF CONSERVATION LEAGUE INC                 6
AMERICAN NEPHROLOGY NURSES ASSOCIATION                6
HUMBLE ISD EDUCATIONAL SUPPORT GROUPS INC             6
PROFESSIONAL LOADMASTER ASSOCIATION                   6
CBMC INC                                              6
Name: count, Length: 354, dtype: int64

In [7]:
names_to_replace = list(name_counts[name_counts <= 5].index)

for app in names_to_replace:
    application_df["NAME"] = application_df["NAME"].replace(app, "Other")

application_df["NAME"].value_counts()

NAME
Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: count, Length: 355, dtype: int64

In [8]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                       355
APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_counts = application_df["APPLICATION_TYPE"].value_counts()
application_counts

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies_df = pd.get_dummies(application_df)
application_dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_AACE INTERNATIONAL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AFRICAN-AMERICAN POSTAL LEAGUE UNITED FOR SUCCESS A-PLUS,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALBANY STATE UNIVERSITY NATIONAL ALUMNI ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False

In [17]:
# Split our preprocessed data into our features and target arrays
X = application_dummies_df.drop(["IS_SUCCESSFUL"], axis = 'columns').values
y = application_dummies_df["IS_SUCCESSFUL"].values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 78)
X

array([[1, 5000, False, ..., False, True, False],
       [1, 108590, False, ..., False, True, False],
       [1, 5000, False, ..., False, True, False],
       ...,
       [1, 5000, False, ..., False, True, False],
       [1, 5000, False, ..., False, True, False],
       [1, 36500179, False, ..., False, True, False]], dtype=object)

In [18]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [19]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = len(X_train[0])
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units = 100, input_dim = input_dim, activation = "relu")
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units = 30, activation = "sigmoid")
)

# Third hidden layer
nn.add(
    tf.keras.layers.Dense(units = 10, activation = "sigmoid")
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units = 1, activation = "sigmoid")
)

# Check the structure of the model
nn.summary()

c:\Users\Bryan Hamilton-Brown\anaconda3\envs\spark_env\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 100)            │        39,900 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         3,030 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 10)             │           310 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │            11 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 43,251 (168.95 KB)

 Trainable params: 43,251 (168.95 KB)

 Non-trainable params: 0 (0.00 B)

In [20]:
# Compile the model
nn.compile(loss = "binary_crossentropy", optimizer = "adam", metrics= ["accuracy"])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 660us/step - accuracy: 0.7373 - loss: 0.5569
Epoch 2/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 664us/step - accuracy: 0.7932 - loss: 0.4503
Epoch 3/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 648us/step - accuracy: 0.7994 - loss: 0.4321
Epoch 4/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 648us/step - accuracy: 0.7987 - loss: 0.4322
Epoch 5/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 626us/step - accuracy: 0.8037 - loss: 0.4238
Epoch 6/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 639us/step - accuracy: 0.7960 - loss: 0.4291
Epoch 7/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 676us/step - accuracy: 0.7987 - loss: 0.4244
Epoch 8/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 778us/step - accuracy: 0.8026 - loss: 0.4187
Epoch 9/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 781us/step - accuracy: 0.7999 - loss: 0.4208
Epoch 10/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 717us/step - accuracy: 0.8047 - loss: 0.4175
Epoch 11/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 725us/step - accuracy: 0.7991 - loss: 0.4191
Epoch 12/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 680us/step - accuracy: 0.7990 - loss: 0.4221
Epoch 13/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 711us/step - accuracy: 0.8001 - loss: 0.4198
Epoch 14/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 685us/step - accuracy: 0.8036 - loss: 0.4151
Epoch 15/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 740us/step - accuracy: 0.8012 - loss: 0.4199
Epoch 16/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 701us/step - accuracy: 0.8081 - loss: 0.4107
Epoch 17/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7994 - loss: 0.4189
Epoch 18/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 882us/step - accuracy: 0.8042 - loss: 0.4125
Epoch 19/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 781us/step - accuracy: 0.8055 - loss: 0.4115
Epoch 20/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 755us/step - accuracy: 0.8057 - loss: 0.4128
Epoch 21/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 788us/step - accuracy: 0.8032 - loss: 0.4138
Epoch 22/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 770us/step - accuracy: 0.8039 - loss: 0.4130
Epoch 23/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 814us/step - accuracy: 0.8045 - loss: 0.4099
Epoch 24/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 775us/step - accuracy: 0.8040 - loss: 0.4144
Epoch 25/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 772us/step - accuracy: 0.8062 - loss: 0.4114
Epoch 26/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 760us/step - accuracy: 0.8075 - loss: 0.4104
Epoch 27/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 747us/step - accuracy: 0.8051 - loss: 0.4122
Epoch 28/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 753us/step - accuracy: 0.8002 - loss: 0.4141
Epoch 29/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 727us/step - accuracy: 0.8018 - loss: 0.4142
Epoch 30/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 707us/step - accuracy: 0.8025 - loss: 0.4116
Epoch 31/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 679us/step - accuracy: 0.8035 - loss: 0.4098
Epoch 32/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 695us/step - accuracy: 0.8068 - loss: 0.4062
Epoch 33/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 753us/step - accuracy: 0.8069 - loss: 0.4062
Epoch 34/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 709us/step - accuracy: 0.8038 - loss: 0.4116
Epoch 35/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 691us/step - accuracy: 0.8048 - loss: 0.4062
Epoch 36/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 710us/step - accuracy: 0.8031 - loss: 0.4080
Epoch 37/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 726us/step - accuracy: 0.8035 - loss: 0.4092
Epoch 38/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 723us/step - accuracy: 0.8084 - loss: 0.4047
Epoch 39/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 710us/step - accuracy: 0.8058 - loss: 0.4049
Epoch 40/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 699us/step - accuracy: 0.8090 - loss: 0.4025
Epoch 41/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 731us/step - accuracy: 0.8055 - loss: 0.4117
Epoch 42/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 717us/step - accuracy: 0.8057 - loss: 0.4070
Epoch 43/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 727us/step - accuracy: 0.8071 - loss: 0.4039
Epoch 44/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 720us/step - accuracy: 0.8060 - loss: 0.4084
Epoch 45/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 741us/step - accuracy: 0.8118 - loss: 0.3998
Epoch 46/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 743us/step - accuracy: 0.8094 - loss: 0.4016
Epoch 47/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 715us/step - accuracy: 0.8080 - loss: 0.4057
Epoch 48/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 765us/step - accuracy: 0.8092 - loss: 0.3995
Epoch 49/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 721us/step - accuracy: 0.8058 - loss: 0.4083
Epoch 50/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 800us/step - accuracy: 0.8063 - loss: 0.4053
Epoch 51/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 755us/step - accuracy: 0.8049 - loss: 0.4083
Epoch 52/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 726us/step - accuracy: 0.8065 - loss: 0.4033
Epoch 53/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.8082 - loss: 0.4033
Epoch 54/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 695us/step - accuracy: 0.8051 - loss: 0.4067
Epoch 55/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 707us/step - accuracy: 0.8064 - loss: 0.4054
Epoch 56/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 701us/step - accuracy: 0.8095 - loss: 0.4017
Epoch 57/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 689us/step - accuracy: 0.8095 - loss: 0.4009
Epoch 58/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 819us/step - accuracy: 0.8083 - loss: 0.4009
Epoch 59/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 710us/step - accuracy: 0.8050 - loss: 0.4009
Epoch 60/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 724us/step - accuracy: 0.8094 - loss: 0.3999
Epoch 61/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 721us/step - accuracy: 0.8067 - loss: 0.4063
Epoch 62/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 705us/step - accuracy: 0.8068 - loss: 0.4028
Epoch 63/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 742us/step - accuracy: 0.8079 - loss: 0.4024
Epoch 64/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 710us/step - accuracy: 0.8054 - loss: 0.4053
Epoch 65/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 714us/step - accuracy: 0.8042 - loss: 0.4082
Epoch 66/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 701us/step - accuracy: 0.8074 - loss: 0.4052
Epoch 67/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 758us/step - accuracy: 0.8076 - loss: 0.4032
Epoch 68/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 702us/step - accuracy: 0.8078 - loss: 0.3989
Epoch 69/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 716us/step - accuracy: 0.8075 - loss: 0.4000
Epoch 70/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 696us/step - accuracy: 0.8104 - loss: 0.3965
Epoch 71/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 666us/step - accuracy: 0.8070 - loss: 0.4036
Epoch 72/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 687us/step - accuracy: 0.8114 - loss: 0.3976
Epoch 73/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 644us/step - accuracy: 0.8084 - loss: 0.4027
Epoch 74/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 660us/step - accuracy: 0.8077 - loss: 0.4050
Epoch 75/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 627us/step - accuracy: 0.8123 - loss: 0.3975
Epoch 76/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 650us/step - accuracy: 0.8047 - loss: 0.4069
Epoch 77/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 666us/step - accuracy: 0.8106 - loss: 0.3999
Epoch 78/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 663us/step - accuracy: 0.8092 - loss: 0.3984
Epoch 79/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 681us/step - accuracy: 0.8116 - loss: 0.3977
Epoch 80/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 695us/step - accuracy: 0.8055 - loss: 0.4039
Epoch 81/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 686us/step - accuracy: 0.8107 - loss: 0.3981
Epoch 82/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 649us/step - accuracy: 0.8063 - loss: 0.4038
Epoch 83/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 650us/step - accuracy: 0.8087 - loss: 0.4040
Epoch 84/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 670us/step - accuracy: 0.8075 - loss: 0.4050
Epoch 85/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 639us/step - accuracy: 0.8061 - loss: 0.4045
Epoch 86/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 709us/step - accuracy: 0.8076 - loss: 0.4023
Epoch 87/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 640us/step - accuracy: 0.8104 - loss: 0.4010
Epoch 88/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 656us/step - accuracy: 0.8090 - loss: 0.4028
Epoch 89/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 643us/step - accuracy: 0.8127 - loss: 0.3958
Epoch 90/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 663us/step - accuracy: 0.8115 - loss: 0.3989
Epoch 91/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 649us/step - accuracy: 0.8099 - loss: 0.4043
Epoch 92/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 656us/step - accuracy: 0.8071 - loss: 0.4023
Epoch 93/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 656us/step - accuracy: 0.8061 - loss: 0.4030
Epoch 94/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 660us/step - accuracy: 0.8065 - loss: 0.4025
Epoch 95/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 690us/step - accuracy: 0.8049 - loss: 0.4057
Epoch 96/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 681us/step - accuracy: 0.8115 - loss: 0.4006
Epoch 97/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 670us/step - accuracy: 0.8074 - loss: 0.4006
Epoch 98/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 664us/step - accuracy: 0.8091 - loss: 0.4022
Epoch 99/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 670us/step - accuracy: 0.8091 - loss: 0.3996
Epoch 100/100
804/804 ━━━━━━━━━━━━━━━━━━━━ 1s 659us/step - accuracy: 0.8121 - loss: 0.4000

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - 754us/step - accuracy: 0.7894 - loss: 0.4460
Loss: 0.4460282325744629, Accuracy: 0.7893877625465393

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimized.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.